* {
    margin: 0;
}

.app {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

form {
    display: flex;
    *margin: 40px 0;
    width: 372px;
    height: 32px;
}

form input {
    width: 100%;
}

.list-container {
    width: 70%;
    margin: 32px 0;
}

ul li {
    margin: 16px 0;
}
